//
// Progress
//

@import "../core/progresses/progress";

.progress-wrapper.loading {
  z-index: 999;
  position: fixed;
  width: 100%;
  padding-top: 0px;
}

.progress-wrapper.loading .progress {
  height: 4px;
}
